@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-logo {
    25% {
      transform: rotateZ(90deg);
    }
    50% {
      transform: rotateZ(180deg);
    }
    75% {
      transform: rotateZ(270deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  .logo {
    animation: rotate-logo 5s linear infinite;
  }

  .plane-img {
    background-image: url('../public/images/plane.png');
    background-repeat: no-repeat;
    background-position-y: -50%;
    background-position-x: -20%;
  }

  @layer utilities {
      .plane-img {
        background-image: url('../public/images/plane.png');
        background-repeat: no-repeat;
        background-position-y: -20%;
        background-position-x: -40%;
      }
      .plane-img-sm {
        background-image: url('../public/images/plane.png');
        background-repeat: no-repeat;
        background-position-y: -50%;
        background-position-x: 100%;
      }
  }
