.globals {
  background: #999c9996;
}
.home-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  margin: 0 auto;
  max-width: 100px;
  object-fit: contain;
  animation: rotate-logo 5s linear infinite;
}

@keyframes rotate-logo {
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
