.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;
  background: #f77c64;
  box-shadow: 4px 4px 4px rgb(196, 155, 155);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

a {
  text-decoration: none;
}

.nav-title {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: auto 0;
}

a {
  color: black;
  font-size: 1.2rem;
  text-align: center;
  margin: auto 0;
}

.nav-logo {
  object-fit: contain;
  animation: rotate-logo 5s linear infinite;
}

@keyframes rotate-logo {
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
