@keyframes rotate-logo {
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.post-section {
  margin: 1rem 1rem;
  padding: 1.5rem;
  background: #f99d8b;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 4px 4px rgb(114, 114, 114);
}

.main-image-div {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 1rem auto;
}

.main-image {
  object-fit: contain;
}
